#introContainer{
    z-index: 1;
    color: #F204FD;
    font-size: 117px;
    font-family: Orbitron;
    font-weight: bold;
    position: relative; 
    height: 100%;
    top: 5vh;
    left: 0;
}

.intro-subText{
    font-size: 41px;
    letter-spacing: 67px;
    color: #00FFFF;
    line-height: 2;
}

span {
    font-family: roboto;
    font-weight: 50;
    color: #16EAF4;
    filter: drop-shadow(0px 5px 11px #16EAF4);
}