.container{
    z-index: 1;
    position: absolute;
    color: #F204FD;
    font-size: 117px;
    font-family: Orbitron;
    font-weight: bold;
    
}

.subText{
    font-size: 41px;
    letter-spacing: 67px;
    color: #00FFFF;
    line-height: 2;
}